<div class="row main">
  <nav class="navbar navbar-expand-lg navbar-light bg-dark" appDropdown>
    <a class="navbar-brand" routerLink="/">WEIB SOLUTIONS</a>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="collapse navbar-collapse" id="mainNav">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="/">About Us</a>
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="/our-services">Services</a>
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="/">Contact Us</a>
        <a class="btn btn-outline-primary-b" routerLink="start-project">START A NEW PROJECT</a>
      </div>
    </div>
  </nav>
</div>
