/* ###########  FOOTER  ########## */
footer {
    min-height: 150px;
    background-color: #000000;
    color: #ffffff;
}


@media only screen and (min-width: 768px) {
    .nav-bottom {
        display: none;
    }
}