<div class="row">
  <div class="col-xs-12">
      <app-header></app-header>

      <router-outlet></router-outlet>
    
      <footer class="row">
        <div class="col-xs-12">
          <a routerLink="/" class="big-title"><h3>WEIB SOLUTIONS</h3></a>
          <p>&copy; Weib Solutions | Rights Reserved</p>
        </div>
      </footer>
    
      <!-- FIXED RESPONSIVE BOTTOM NAVBAR WHEN SCREEN IS SMALL -->
      <div class="row mini">
        <nav class="nav nav-pills nav-fill">
          <a class="nav-item nav-link" routerLinkActive="active" routerLink="/">
            <span class="glyphicon glyphicon-home"></span>
          </a>
          <a class="nav-item nav-link" routerLinkActive="active" routerLink="/about">
            <span class="glyphicon glyphicon-info-sign"></span>
          </a>
          <a class="nav-item nav-link" routerLinkActive="active" routerLink="/our-services">
            <span class="glyphicon glyphicon-cog"></span>
          </a>
          <a class="nav-item nav-link" routerLinkActive="active" routerLink="/contact">
            <span class="glyphicon glyphicon-earphone"></span>
          </a>
        </nav>
      </div>
  </div>
</div>