<section class="header">
  <div class="row">
    <div class="jumbotron">
      <h1>
        Have a project in mind? <br/>
       <small> Write us your brief.</small>
      </h1>
    </div>
  </div>
</section>
<section class="body">
  <div class="row">
    <form action="" class="form-inline">
      <div class="col-sm-8 col-sm-push-2">
          <!-- Basic Info Form -->
          <div class="form-group">
            <div class="col-sm-6">
              <input type="text" class="form-control" id="name" placeholder="Your name">
            </div>
            <div class="col-sm-6">
              <input type="text" class="form-control" id="company" placeholder="Company">
            </div>
            <div class="col-sm-6">
              <input type="tel" class="form-control" id="phone" placeholder="Phone number">
            </div>
            <div class="col-sm-6">
              <input type="email" class="form-control" id="email" placeholder="Email">
            </div>
          </div>
        <!-- //Basic Info Form -->
        <!-- Services Required -->
        <div class="row text-center">
          <h2>SERVICES REQUIRED</h2>
          <div class="input-group">
            <span class="input-group-addon">
              <input type="checkbox" name="design" id="design" aria-label="design">
            </span>
            <label for="design">Design</label>
          </div>
          <div class="input-group">
            <span class="input-group-addon">
              <input type="checkbox" name="development" id="development" aria-label="development">
            </span>
            <label for="development">Development</label>
          </div>
          <div class="input-group">
            <span class="input-group-addon">
              <input type="checkbox" name="branding" id="branding" aria-label="branding">
            </span>
            <label for="branding">Branding</label>
          </div>
          <div class="input-group">
            <span class="input-group-addon">
              <input type="checkbox" name="other" id="other" aria-label="other">
            </span>
            <label for="other">Other</label>
          </div>
        </div>
        <!-- Approximate Budget -->
        <div class="row text-center budget">
          <h2>APPROXIMATE BUDGET</h2>
          <div class="input-group">
            <span class="input-group-addon">
              <input type="checkbox" name="price-1" id="price-1" aria-label="Kshs 15,000 - Kshs 25,000">
            </span>
            <label for="price-1">Kshs 15,000 - Kshs 25,000</label>
          </div>
          <div class="input-group">
            <span class="input-group-addon">
              <input type="checkbox" name="price-2" id="price-2" aria-label="Kshs 25,000 - Kshs 50,000">
            </span>
            <label for="price-2">Kshs 25,000 - Kshs 50,000</label>
          </div>
          <div class="input-group">
            <span class="input-group-addon">
              <input type="checkbox" name="price-3" id="price-3" aria-label="Kshs 50,000 - Kshs 100,000">
            </span>
            <label for="price-3">Kshs 50,000 - Kshs 100,000</label>
          </div>
          <div class="input-group">
            <span class="input-group-addon">
              <input type="checkbox" name="price-other" id="price-other" aria-label="Other Budget">
            </span>
            <label for="price-other">Other Budget</label>
          </div>
        </div>
        <div class="clearfix"></div>
        <!-- More details about the project -->
        <div class="row text-center details">
          <div class="form-group">
            <div class="col-xs-12">
              <!-- <label for="projectDetails">Tell Us More About The Project</label> -->
              <textarea name="projectDetails" id="projectDetails" placeholder="Tell Us More About The Project" aria-label="Tell Us More About The Project" rows="10"></textarea>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <!-- submit button -->
        <div class="btn-container">
          <button class="btn btn-outline-primary" type="submit">SEND PROJECT</button>
        </div>
      </div>
      <div class="clearfix"></div>
    </form>
  </div>
</section>