.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  background: #1ac6ff;
}
.jumbotron {
  background: transparent;
}
.body {
  margin-top: 20px;
}
h2 {
  text-align: center;
  margin: 30px auto;
}
.form-control {
  width: 100%;
  margin-top: 20px;
  box-shadow: none;
  border: 0;
  border-bottom: 2px #cccccc solid;
}
.input-group {
  margin: 2px auto;
}
.input-group-addon {
  border: 2px solid #1ac6ff;
  background-color: #ffffff;
}
.budget .input-group-addon {
  padding: 5px 8px;
  border-radius: 100%;
}
label {
  margin-left: 5px;
  margin-right: 5px;
  line-height: 2;
}
.details {
  margin-top: 20px;
}
textarea {
  border: 0;
  border-bottom: 2px solid #1ac6ff;
  width: 100%;
}
textarea:focus, textarea:hover {
  border: #1ac6ff solid 1px;
}
.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 30px;
}
.btn {
  border-radius: 30px;
}
@media screen and (max-width: 767px) {
  .text-center {text-align: left;}
  .row {margin-left: -5px;}
  .budget .input-group-addon {padding: 5px 7px;}
}
@media screen and (min-width: 768px) {
  .header {min-height: 500px;}
}
