<div class="col-xs-12">
  <div class="row text-center">
    <div class="col-sm-4" *ngFor="let project of projects">
      <img src="{{ project.projectPlaceholder }}" alt="{{ project.title }}" class="img-responsive img-fluid">
      <div class="project-container">
        <h4>{{ project.title }}</h4>
        <p class="project-desc">
          {{ project.description }}<br>
          <span>{{ project.tags }}</span>
        </p>
        <a target="_blank" [href]="project.projectUrl">
          View site <span class="glyphicon glyphicon-new-window"></span>
        </a>
      </div>
    </div>
    <!-- <div class="col-sm-6 project-img" 
      style="background-image: url('{{ project.projectPlaceholder }}')">
      <img src="{{ project.projectPlaceholder }}" alt="{{ project.title }}" class="img-responsive img-fluid">
    </div> -->
  </div>
  <app-projects-detail></app-projects-detail>
</div>
<!-- 
<div class="col-xs-12">
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
      <ngb-carousel *ngIf="images">
        <ng-template ngbSlide>
          <img [src]="images[0]" alt="Random first slide">
          <div class="carousel-caption">
            <h3>First slide label</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img [src]="images[1]" alt="Random second slide">
          <div class="carousel-caption">
            <h3>Second slide label</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img [src]="images[2]" alt="Random third slide">
          <div class="carousel-caption">
            <h3>Third slide label</h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
    <div class="col-xs-1"></div>
  </div>
</div> -->
